@import 'https://fonts.googleapis.com/css?family=Oswald:700';

body {
	background: black;
	display: flex;
	align-items: center;
	height: 100vh;
}

.App {
	width: 100vw;
	height: 156px;
	display: flex;
	background: #000000;
	position: relative;
	font-family: 'Oswald';
	font-weight: 700;
}

.text-overlay {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	font-size: 160px;
	box-sizing: border-box;
	
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 0 auto;
		width: 25%;
	}
}

.Column {
	height: 156px;
	flex: 1 0 auto;
	position: relative;
	mix-blend-mode: multiply;
	z-index: 2;
	align-items: center;
}

.Marker {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #019CDF;
	opacity: 1;
	border-radius: 2px;
	overflow: hidden;
	animation: hueylewisandthenews 10s infinite;
	
	&--seconds {
		transition: height 1s linear;
	}
	
	&::before {
		height: 20px;
		width: calc(760px * 2);
		background-image: url(http://www.jc-website-designs.com/free-header-images/free-header-image-5.jpg);
		position: absolute;
		top: 0px;
		content: '';
		animation: wave 10s infinite linear;
	}
}

@keyframes wave {
	0% {
		left: 0;
	}
	
	100% {
		left: -760px;
	}
}

@keyframes hueylewisandthenews {
	0% {
		filter: hue-rotate(0deg);
	}
	
	50% {
		filter: hue-rotate(-30deg);
	}
	
	100% {
		filter: hue-rotate(0deg);
	}
}