@tailwind base;
@tailwind components;
@tailwind utilities;



.Student{

    padding: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    border: 1px solid hsl(0, 0%,50% );
}
 