/* Base */
body {
  background: #F3F3F3;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

/* Container */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

/* Column */
.column {
  flex-basis: percentage(1/3);
  width: percentage(1/3);
  padding: 0 10px;
  box-sizing: border-box;
  
  @media (max-width: 900px) {
    & {
      flex-basis: 50%;
      width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    & {
      flex-basis: 100%;
      width: 100%;
    }
  }
}

/* Article (Component) */
.article {
  background: #FFF;
  margin: 0 0 20px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
  
  &:hover {
    box-shadow: 0 2px 4px rgba(#000, 0.2),
      0 4px 8px rgba(#000, 0.2);
  }
  
  &:active {
    box-shadow: none;
    transform-origin: center;
    transform: scale(0.98);
  }
  
  &__category {
    display: inline-block;
    // background: #212121;
    padding: 8px 10px;
    margin: 0 0 10px;
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
  }
  
  &__date {}
  
  &__excerpt {
    color: #666;
    line-height: 1.5rem;
    font-size: 0.875rem;
  }
  
  &__title {
    margin: 0 0 10px;
    color: #444;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
  }
}